


<body>
<div class="container mx-auto flex flex-col items-center p-5">
    <div class="card w-full max-w-xxl bg-white rounded-lg shadow-md">
        <div class="flex flex-col items-center p-5">
            <img src=../image/basket.jpg alt="Votre photo" class="w-32 h-32 rounded-full mb-5">
            <h2 class="text-2xl font-bold text-center mb-2">Arturs Mednis</h2>
            <p class="text-center text-gray-500 mb-5">Etudiant en BTS services aux organisations option SLAM 2ème année</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-5 gap-5 p-8">
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col p-5 items-center">
                <img src="image-competence-1.jpg" alt="Image compétence 1" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2 ">Développement objet</h3>
                <ul class="list-disc text-gray-700">
                    <li>PHP</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>VBA</li>
                </ul>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col items-center p-5">
                <img src=../image/symfony.png alt="Image compétence 2" class="w-200 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2">Framework / Librairies</h3>
                <ul class="list-disc text-gray-700">
                    <li>Symfony</li>
                    <li>Tailwind</li>
                </ul>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col items-center p-5">
                <img src="image-competence-3.jpg" alt="Image compétence 3" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2">Base de données</h3>
                <ul class="list-disc text-gray-700">
                    <li>SQL server</li>
                    <li>Microsoft Access</li>
                    <li>Conception MCD</li>
                </ul>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col items-center p-5">
                <img src="image-competence-3.jpg" alt="Image compétence 3" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2">Programmation</h3>
                <ul class="list-disc text-gray-700">
                    <li>Modèle MVC</li>
                    <li>API rest</li>
                    <li>Tests (unitaires/intégration)</li>
                </ul>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col items-center p-5">
                <img src="image-competence-3.jpg" alt="Image compétence 3" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2">Méthode</h3>
                <ul class="list-disc text-gray-700">
                    <li>Outil de versionnig GIT</li>
                    <li>Méthode agile SCRUM</li>
                    <li>Travail en équipe</li>
                </ul>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col items-center p-5">
                <img src="image-competence-3.jpg" alt="Image compétence 3" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2">Cybersécurité</h3>
                <ul class="list-disc text-gray-700">
                    <li>Développement sécurisé</li>
                    <li>Développement sécurisé</li>

                </ul>
            </div>


        </div>
        <div class=" text-end p-3 md:text-center">
        <a class="text-lg p-1 bg-gray-800 text-gray-200 rounded-md hover:bg-gray-700 hover:text-white" href="image/CV_Mednis_Arturs.pdf">Mon CV</a>
        </div>
    </div>

</div>
</body>








