<div class="container mx-auto flex flex-row items-center p-7">
    <div class="card w-full max-w-xxl bg-white rounded-lg shadow-md">

        <div class="grid grid-rows-1 md:grid-rows-5 gap-5 p-5">
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col p-3 items-center">
                <img src=../image/codage.png alt="Image-langage-php" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2 ">API cinéma - Application </h3>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col p-3 items-center">
                <img src=../image/codage.png alt="Image-langage-php" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2 ">API posts</h3>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col p-3 items-center">
                <img src=../image/codage.png alt="Image-langage-php" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2 ">Application web Bibliothèque</h3>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col p-3 items-center">
                <img src=../image/codage.png alt="Image-langage-php" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2 "></h3>
            </div>
            <div class="bg-gray-100 rounded-lg shadow-md flex flex-col p-3 items-center">
                <img src=../image/codage.png alt="Image-langage-php" class="w-16 h-16 mb-5">
                <h3 class="text-lg font-bold mb-2 ">Développement d'une API</h3>
            </div>


        </div>

    </div>
</div>