<h3 class=" mb-2 text-center text-2xl underline">Mes passions </h3>
<div class="sm:flex sm:justify-center">

    <div

            class="flex flex-col rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark text-gray-500 sm:shrink-0 sm:grow sm:basis-0 sm:rounded-e-none">
        <a href="#!">
            <img
                    class="rounded-t-lg sm:rounded-tr-none"
                    src="/image/basket.jpg"
                    alt="Basket"/>
        </a>
        <div class="p-6">
            <h5 class="mb-2 text-xl font-medium text-black leading-tight">Basket-Ball</h5>
            <p class="mb-4 text-base">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
            </p>
            <p class="mb-4 text-base text-surface/75 text-gray-500">
                <small>Last updated 3 mins ago</small>
            </p>
        </div>
    </div>

    <div
            class="flex flex-col rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark text-gray-500 sm:shrink-0 sm:grow sm:basis-0 sm:rounded-e-none">
        <a href="#!">
            <img
                    class="rounded-t-lg sm:rounded-none"
                    src="/image/basket.jpg"
                    alt="Basket"/>
        </a>
        <div class="p-6">
            <h5 class="mb-2 text-xl font-medium text-black leading-tight">Basket-Ball</h5>
            <p class="mb-4 text-base">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
            </p>
            <p class="mb-4 text-base text-surface/75 text-gray-500">
                <small>Last updated 3 mins ago</small>
            </p>
        </div>
    </div>

    <div
            class="flex flex-col rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark text-gray-500 sm:shrink-0 sm:grow sm:basis-0 sm:rounded-e-none">
        <a href="#!">
            <img
                    class="rounded-t-lg sm:rounded-tl-none"
                    src="/image/basket.jpg"
                    alt="Basket"/>
        </a>
        <div class="p-6">
            <h5 class="mb-2 text-xl font-medium text-black leading-tight">Basket-Ball</h5>
            <p class="mb-4 text-base">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
            </p>
            <p class="mb-4 text-base text-surface/75 text-gray-500">
                <small>Last updated 3 mins ago</small>
            </p>
        </div>
    </div>
</div>