<div class="carousel relative w-500 h-300 overflow-hidden">
    <div class="carousel-inner flex space-x-0">
        <div class="carousel-item active w-full h-full bg-cover" style="background-image: url('image1.jpg')"></div>
        <div class="carousel-item w-full h-full bg-cover" style="background-image: url('image2.jpg')"></div>
        <div class="carousel-item w-full h-full bg-cover" style="background-image: url('image3.jpg')"></div>
    </div>
    <button class="carousel-control-prev absolute top-1/2 left-0 transform -translate-y-1/2 p-3 bg-gray-800 opacity-50 hover:opacity-75 focus:outline-none">
        <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 18l-6-6l6-6"></path></svg>
    </button>
    <button class="carousel-control-next absolute top-1/2 right-0 transform -translate-y-1/2 p-3 bg-gray-800 opacity-50 hover:opacity-75 focus:outline-none">
        <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l6 6-6 6"></path></svg>
    </button>
</div>
