
* {
    margin: 0;
    text-align: justify;

}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    scroll-behavior: smooth;
    height: 100vh;
    background-color: burlywood;

}
footer{
    background-color: brown;
    height: 150px;
}


ul {
    display: flex;
    list-style: none;
    justify-content: center;


}

li {
    color: brown;
    text-align: center;
    padding: 18px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: brown;
}
.container{

}
