
* {
    
    margin: 0;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;


}

body {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-row-gap: 150px;
    scroll-behavior: smooth;
    height: 100vh;
    background-color: burlywood;

}


footer {
    background-color: brown;
    height: 150px;
}


.menu {
    display: flex;
    list-style: none;
    justify-content: center;


}

.menu li {
    color: brown;
    text-align: center;
    padding: 18px;
}

h1 {
    text-align: center;

}

a {
    text-decoration: none;
    color: brown;
}

.titre {
    align-self: center;
}

.titre h1 {
    font-size: 100px;

}

.sous-texte {
    text-align: center;
    font-size: 26px;
    padding-top: 8px;
    font-family: 'Satisfy', cursive;
}
.icons{
    justify-content: center;
    display: flex;
}
.icons i{
    font-size: 25px;
    padding: 10px;
}

.presentation {
    display: grid;
    justify-content: center;

}

.presentation p {
    font-size: 18px ;
    padding-top: 50px;
}
.competence {

    display: grid;
    justify-content: center;

}
.competence p{
    font-size: 18px ;
    padding-top: 50px;
}
.list-competence{
    list-style: none;

}
.list-competence li{
    padding: 6px;
}
