
* {
    
    margin: 0;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;


}

body {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-row-gap: 150px;
    scroll-behavior: smooth;
    height: 100vh;
    background-color: burlywood;

}


footer {
    background-color: brown;
    height: 150px;
}


.menu {
    display: flex;
    list-style: none;
    justify-content: center;


}

.menu li {
    color: brown;
    text-align: center;
    padding: 18px;
}

h1 {
    text-align: center;
    color: #4CAF50;

}

a {
    text-decoration: none;
    color: #117e37;
}

.titre {
    align-self: center;
}

.titre h1 {
    font-size: 100px;

}

.sous-texte {
    text-align: center;
    font-size: 26px;
    padding-top: 8px;
    font-family: 'Satisfy', cursive;
}
.icons{
    justify-content: center;
    display: flex;
}
.icons i{
    font-size: 25px;
    padding: 10px;
}

.presentation {
    display: grid;
    justify-content: center;

}

.presentation p {
    font-size: 18px ;
    padding-top: 50px;
}
.competence {

    display: grid;
    justify-content: center;

}
.competence p{
    font-size: 18px ;
    padding-top: 50px;
}
.list-competence{
    list-style: none;

}
.list-competence li{
    padding: 6px;
}


#cv h2{
    text-align: center;
}

.cv-lien{
   padding-top: 50px;
}
.passions h2{
   text-align: center;
}
.projets h2{
    text-align: center;
}
.projets ul{
    padding-top: 100px;
}
.projets li{
    text-align: center;
}